# ========================
# Airflow
# ========================
AIRFLOW_UID=1000
AIRFLOW__CORE__FERNET_KEY=your_fernet_key_here
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__WEBSERVER__SECRET_KEY=your_secret_key_here

# ========================
# PostgreSQL — Airflow Metadata
# ========================
POSTGRES_AIRFLOW_USER=airflow
POSTGRES_AIRFLOW_PASSWORD=airflow
POSTGRES_AIRFLOW_DB=airflow

# ========================
# PostgreSQL — Data Warehouse
# ========================
POSTGRES_DW_USER=dw_user
POSTGRES_DW_PASSWORD=dw_password
POSTGRES_DW_DB=nyc_tlc_dw
POSTGRES_DW_HOST=postgres-dw
POSTGRES_DW_PORT=5433

# ========================
# Redis
# ========================
REDIS_HOST=redis
REDIS_PORT=6379

# ========================
# Spark
# ========================
SPARK_MASTER_URL=spark://spark-master:7077
SPARK_DRIVER_MEMORY=2g
SPARK_EXECUTOR_MEMORY=2g

# ========================
# ETL
# ========================
TLC_BASE_URL=https://d37ci6vzurychx.cloudfront.net/trip-data
RAW_DATA_PATH=/opt/airflow/data/raw
STAGING_DATA_PATH=/opt/airflow/data/staging
REJECTED_DATA_PATH=/opt/airflow/data/rejected
